/*
 * custom.css
 *
 * Hoja de estilos con los cambios personalizados respecto a la template
 *
 */

/*
 * revolution-slider.css
 */

/* Text slider */
.tp-caption.title-slide{
    font-size: 100px;
}

/*///////////////////////////////////////////////////////////////*/


/*
 * shortcodes.css
 */

/*Row
--------------------------------------------------------*/

.flat-row.flat-gallery {
    background-image: url(../images/portfolio/bg2.jpg);
}

.title-section .title:before {
    background-color: #ff0000;
}

.title-section.switch-color .title:before {
    background-color: #ff0000;
}

/*Flat button
---------------------------------------------------------*/
.read-more.view-all a {
    background-color: #ff0000;
}

/* Flat iconlist
-------------------------------------------------------------- */
ul {
    list-style: none; /* Remove default bullets */
}

.iconlist li::before {
    content: "\25CF";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #ff0000; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    /*width: 1em; !* Also needed for space (tweak if needed) *!*/
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}


/* Flat imagebox
-------------------------------------------------------------- */
.imagebox .box-content ul li:first-child,
.product .box-content ul li:first-child  {
    color: #ff0000;
}

.flat-tabs ul.menu-tab li.active a {
    color: #ff0000;
}

.flat-tabs .content-tab ul li .media-body span {
    color: #ff0000;
}

.flat-projects-portfolio ul.portfolio-filter li.active a {
    color: #ff0000;
}

.flat-divider.d20px {
    height: 20px;
}

/* Contact us
-----------------------------------------------------------------*/

.flat-information > span  {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.reservation-page-left .reservation-page-form #reservation-form .reservation-booking button {
    background-color: #ff0000;
}



/*///////////////////////////////////////////////////////////////*/

/*
 * style.css
 */


a:focus {
    color: #ff0000;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 2px solid #ff0000;

    background-color: #ff0000;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #ff0000;
}

.btn-menu:before,
.btn-menu:after,
.btn-menu span {
    background-color: #ff0000;
}

#mainnav ul.submenu > li > a:hover {
    background-color: #ff0000;
}

#mainnav > ul > li > a:hover {
    color: #ff0000;
}

.page-title .breadcrumbs ul li a:hover {
    color: #ff0000;
}

.main-content .post .content-post .readmore a {
    color: #ff0000;
}

.footer-content .copyright a {
    color: #ff0000;
}


.flat-hover-images:hover:after {
    background-color: #ff0000;
}

/* Go Top
-------------------------------------------------------------- */
.go-top-v1 {
    color: #ff0000;
}

.go-top-v1 i {
    color: #ff0000;
}


.loader {
    border-left: 1em solid #ff0000;
}


.pagination a:hover {
    color: #ff0000;
}

/* Estilos personalizados */

@media print{
    .oculto-impresion, .oculto-impresion *{
        display: none !important;
    }
}